{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
	<form id="id_password_change_form" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_old_password">Old password:</label>
            <input name="old_password" class="form-control" type="password" id="id_old_password" required="true">
            <label for="id_old_password">New password:</label>
            <input name="new_password1" class="form-control" type="password" id="id_new_password1" required="true">
            <label for="id_old_password">Confirm new password:</label>
            <input name="new_password2" class="form-control" type="password" id="id_new_password2" required="true">
        </div>
        <div class="mb-3">
            <button id="id_submit_btn" class="btn btn-success" type="submit">Submit</button>  
        </div>
        {% for field in form %}
            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </form>
</div>
{% endblock %}