{% extends 'users/users_base.html' %}

{% block content %}
<div class="container mt-5">
    <a href="{% url 'login_index' %}" class="btn btn-outline-light btn-sm">Back</i></a>
    <div class="col-lg-6 col-xs-12 mt-3">
        <form id="id_password_reset_form" method="POST">
            {% csrf_token %}
            <h1>Reset password</h1>
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
            <div class="mt-2">
                <button class="btn btn-lg btn-success">Send link</button>  
            </div>
        </form>
    </div>
</div> 
{% endblock %}