<div class="col-xs-12 col-lg-4 mb-3">
	<form class="">
		<div class="input-group input-group-sm">
			<select class="form-select" name="schedule_select">
		        <option value selected>--------</option>
		    </select>
			<button class="btn btn-success" type="submit">Select</button>
		</div>
	</form>
</div>
<div class="col-xs-12 col-lg-4 mb-3 text-center">
	<h2>Permanent schedule</h2>
</div>
<div class="col-xs-12 col-lg-4 mb-3">
	<div class="btn-group w-100" role="group">
		<a class="btn btn-sm btn-primary" onclick="">+ Add</a>
		<a class="btn btn-sm btn-primary" onclick="">* Edit</a>
		<a class="btn btn-sm btn-primary" href="">Export</a>
		<a class="btn btn-sm btn-info" href="">- Delete</a>
	</div>
</div>
