{# DEFAULT TIME #}
<div class="col-xs-12 col-lg-4 mb-3">
	<h3>Default time</h3>
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Schedule time</th>
				<th scope="col">Total Hours</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" id=""><a class="" onclick="">Entity</a></th>
				<td id="">Entity</td>
				<td id="">Entity</td>
				<td><input class="form-check-input" type="checkbox" value="" name=""></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group" role="group">
		<a class="btn btn-sm btn-primary" onclick="">+ Add</a>
		<a class="btn btn-sm btn-info" onclick="">- Delete selected</a>
	</div>
</div>
{# EMPLOYEES #}
<div class="col-xs-12 col-lg-4 mb-3">
	<h3>Employees</h3>
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Number</th>
				<th scope="col">Department</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" id=""><a class="" onclick="">Entity</a></th>
				<td id="">Entity</td>
				<td id="">Entity</td>
				<td><input class="form-check-input" type="checkbox" value="" name=""></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group" role="group">
		<a class="btn btn-sm btn-primary" onclick="">+ Add</a>
		<a class="btn btn-sm btn-info" onclick="">- Delete selected</a>
	</div>
</div>
{# DEPARTMENTS #}
<div class="col-xs-12 col-lg-4 mb-3">
	<h3>Departments</h3>
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Employees count</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" id=""><a class="" onclick="">Entity</a></th>
				<td id="">Entity</td>
				<td><input class="form-check-input" type="checkbox" value="" name=""></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-group" role="group">
		<a class="btn btn-sm btn-primary" onclick="">+ Add</a>
		<a class="btn btn-sm btn-info" onclick="">- Delete selected</a>
	</div>
</div>