.container-fluid {
	padding: 0 25px 0 25px;
}

.modal {
    background-color: rgba(0,0,0,0.6);
}

.modal-backdrop {
	background-color: transparent;
}

.settings-span {
	font-size: 20px;
	font-style: italic;
}