<!-- DEFAULT_SCHEDULE -->
<div class="modal" id="default_schedule_modal" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Update Default Schedule</h5>
        		<button type="button" class="btn-close" onclick="close_modal()"></button>
			</div>
			<div class="modal-body">
				<form id="default_schedule_update_form" method="POST" action="{% url 'default_schedule_update' %}">
                    {% csrf_token %}
		            <div class="mb-3">
		                {{ default_schedule_form.as_table }}
		            </div>
					<button class="btn btn-success" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- DEPARTMENT -->
<div class="modal" id="department_modal" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Update Department</h5>
        		<button type="button" class="btn-close" onclick="close_modal()"></button>
			</div>
			<div class="modal-body">
				<form id="department_update_form" method="POST" action="{% url 'department_update' %}">
                    {% csrf_token %}
		            <div class="mb-3">
		                {{ department_form.as_table }}
		            </div>
					<button class="btn btn-success" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- EMPLOYEE -->
<div class="modal" id="employee_modal" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Update Employee</h5>
        		<button type="button" class="btn-close" onclick="close_modal()"></button>
			</div>
			<div class="modal-body">
				<form id="employee_update_form" method="POST" action="{% url 'employee_update' %}">
                    {% csrf_token %}
		            <div class="mb-3">
		                {{ employee_form.as_table }}
		            </div>
					<button class="btn btn-success" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- SCHEDULE PROFILE -->
<div class="modal" id="schedule_profile_modal" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Update Schedule</h5>
        		<button type="button" class="btn-close" onclick="close_modal()"></button>
			</div>
			<div class="modal-body">
				<form id="schedule_profile_update_form" method="POST" action="{% url 'schedule_profile_update' %}">
                    {% csrf_token %}
		            <div class="mb-3">
		                {{ schedule_profile_form.as_table }}
		            </div>
					<button class="btn btn-success" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- SCHEDULE PROFILE -->
<div class="modal fade" tabindex="-1" id="schedule_detail_modal" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5>Update Schedule Details</h5>
        		<button type="button" class="btn-close" onclick="close_modal()"></button>
			</div>
			<div class="modal-body">
				<form id="schedule_detail_update_form" method="POST" action="{% url 'schedule_detail_update' %}">
                    {% csrf_token %}
		            {% include 'index/schedule_detail_form.html' %}
					<button class="btn btn-success" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>