<!-- DEFAULT_SCHEDULE -->
<div class="modal" id="default_schedule_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Default Schedule</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>The default schedule is good when you have regular schedules like: 6a-2p. They will appear as the help dropdown when you will put into schedules for employess. Time have to be in proper format, for example: "11a-9p". To edit default schedule click on default schedule name.</p>
			</div>
		</div>
	</div>
</div>
<!-- DEPARTMENT -->
<div class="modal" id="department_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Departments</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Departments is for you to have track on your employees, in each department. If your company don't have any departments, add at least one and when you will be creating employess add all of them to your default department. To edit department click on deaprtment name.</p>
			</div>
		</div>
	</div>
</div>
<!-- EMPLOYEE -->
<div class="modal" id="employee_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Employees</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Create employees in order to create schedule. Unique employee number presented as the integer number. If your company doesn't have unqiue employee numbers, add some random numbers for each employee, unique for each. To edit employee click on employee name.</p>
			</div>
		</div>
	</div>
</div>
<!-- SCHEDULE PROFILE -->
<div class="modal" id="schedule_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Schedules</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Create new schedule for every employee by using option "+ Add new row". If you have default schedules - they will appear as the options in Day x time. Adding duty is optional. For day off leave both day and duty fields empty. To edit employee's schedule click on employee's name. While changing the schedule, you can change employee, that attached to current schedule, as soon as new employee aren't into the schedule yet. Push "Export" option to export schedule table as .csv file.</p>
			</div>
		</div>
	</div>
</div>