<!-- DEFAULT_SCHEDULE -->
<div class="modal" id="default_schedule_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Default Schedule</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec lectus ullamcorper, gravida nunc eu, luctus turpis. Integer at mauris aliquam, vehicula quam vehicula, aliquet augue. In ultrices elit et erat pulvinar, ac feugiat nisl pharetra. Cras pharetra imperdiet arcu in convallis. Suspendisse aliquam, orci ut rhoncus vehicula, tellus risus finibus velit, sit amet ullamcorper risus augue id urna. Cras aliquam posuere dictum. Vivamus vel enim a felis rhoncus ultrices. In hac habitasse platea dictumst. Ut mollis gravida nisl, a elementum justo iaculis quis. Aliquam nec eleifend nisi. Praesent ornare lorem eu dolor interdum vestibulum. Aliquam quis ante at tellus.</p>
			</div>
		</div>
	</div>
</div>
<!-- DEPARTMENT -->
<div class="modal" id="department_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Departments</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec lectus ullamcorper, gravida nunc eu, luctus turpis. Integer at mauris aliquam, vehicula quam vehicula, aliquet augue. In ultrices elit et erat pulvinar, ac feugiat nisl pharetra. Cras pharetra imperdiet arcu in convallis. Suspendisse aliquam, orci ut rhoncus vehicula, tellus risus finibus velit, sit amet ullamcorper risus augue id urna. Cras aliquam posuere dictum. Vivamus vel enim a felis rhoncus ultrices. In hac habitasse platea dictumst. Ut mollis gravida nisl, a elementum justo iaculis quis. Aliquam nec eleifend nisi. Praesent ornare lorem eu dolor interdum vestibulum. Aliquam quis ante at tellus.</p>
			</div>
		</div>
	</div>
</div>
<!-- EMPLOYEE -->
<div class="modal" id="employee_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Employees</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec lectus ullamcorper, gravida nunc eu, luctus turpis. Integer at mauris aliquam, vehicula quam vehicula, aliquet augue. In ultrices elit et erat pulvinar, ac feugiat nisl pharetra. Cras pharetra imperdiet arcu in convallis. Suspendisse aliquam, orci ut rhoncus vehicula, tellus risus finibus velit, sit amet ullamcorper risus augue id urna. Cras aliquam posuere dictum. Vivamus vel enim a felis rhoncus ultrices. In hac habitasse platea dictumst. Ut mollis gravida nisl, a elementum justo iaculis quis. Aliquam nec eleifend nisi. Praesent ornare lorem eu dolor interdum vestibulum. Aliquam quis ante at tellus.</p>
			</div>
		</div>
	</div>
</div>
<!-- SCHEDULE PROFILE -->
<div class="modal" id="schedule_info" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5>About Schedules</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec lectus ullamcorper, gravida nunc eu, luctus turpis. Integer at mauris aliquam, vehicula quam vehicula, aliquet augue. In ultrices elit et erat pulvinar, ac feugiat nisl pharetra. Cras pharetra imperdiet arcu in convallis. Suspendisse aliquam, orci ut rhoncus vehicula, tellus risus finibus velit, sit amet ullamcorper risus augue id urna. Cras aliquam posuere dictum. Vivamus vel enim a felis rhoncus ultrices. In hac habitasse platea dictumst. Ut mollis gravida nisl, a elementum justo iaculis quis. Aliquam nec eleifend nisi. Praesent ornare lorem eu dolor interdum vestibulum. Aliquam quis ante at tellus.</p>
			</div>
		</div>
	</div>
</div>